spring:
  application:
    name: hello-client

server:
  port: 8062

eureka:
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8060/eureka/
  instance:
    hostname: localhost